{% extends 'base.html.twig' %}

{% block body %}
    <section class="container d-flex justify-content-center align-items-center">
        <h1 class="text-capitalize mt-4">Welcome to Task Master</h1>

        <!-- Task Grid -->

    </section>
{% endblock %}