{% extends 'base.html.twig' %}

{% block body %}

    <div class="d-flex justify-content-center align-items-center mt-5">
        <h1 class="text-capitalize text-center">Welcome to Task Master</h1>
    </div>

{% endblock %}